/*Colors*/
:root {
    --gradient: linear-gradient(90deg, #8672f2,#830aed,#63f3ca);
    --white: #ffffff;
    --whiteDark: rgba(255, 255, 255, 0.5);
    --background: #F7F8F2;
    --black: #131313;
  }